<div class="mt-2">
    @if (loading) {
        <button class="btn btn-primary disabled btn-load w-100">
            <span class="d-flex align-items-center">
                <span class="spinner-border flex-shrink-0" role="status">
                    <span class="visually-hidden">En cours...</span>
                </span>
                <span class="flex-grow-1 ms-2">
                    En cours...
                </span>
            </span>
        </button>
    } @else {
        <button class="btn btn-primary w-100" type="submit">{{ name }}</button>
    }
</div>