
<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card">
            <form [formGroup]="createInvoiceForm" (submit)="onSubmit()">
                <div class="card-body p-4 border-top border-top-dashed" formGroupName="client">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div>
                                <label for="billingName" class="text-muted text-uppercase fw-semibold">Info Client</label>
                            </div>
                            @if (selectClient) {
                                <div class="mt-3 mb-2 row gap-1 d-flex align-items-center">
                                    <div class="col-10">
                                        <label for="basiInput" class="form-label">Selectionner un client</label>
                                        <select2
                                            [data]="clients"
                                            displaySearchStatus="always"
                                            class="form-control bg-light"
                                            formControlName="id">
                                        </select2>
                                        <app-form-error [control]="client.get('id')"></app-form-error>
                                    </div>
                                    <button type="button" (click)="toggleClientSelectInput()" class="btn btn-sm rounded-pill btn-info btn-icon mt-2">
                                        <i class=" ri-add-fill"></i>
                                    </button>
                                </div>
                            } @else {
                                <div class="mt-3 mb-2">
                                    <div>
                                        <a (click)="toggleClientSelectInput()" class="btn ml-0 btn-link">
                                            <i class="las la-arrow-left"></i>
                                            Sélectionner le client
                                        </a>
                                    </div>
                                    <div class="mb-2">
                                        <label for="totalamountInput">Nom</label>
                                        <input type="text" class="form-control bg-light border-0" formControlName="last_name">
                                        <app-form-error [control]="client.get('last_name')"></app-form-error>
                                    </div>
                                    <div class="mb-2">
                                        <label for="totalamountInput">Prénom</label>
                                        <input type="text" class="form-control bg-light border-0" formControlName="first_name">
                                        <app-form-error [control]="client.get('first_name')"></app-form-error>
                                    </div>
                                    <div class="mb-2">
                                        <label for="totalamountInput">Email</label>
                                        <input type="email" class="form-control bg-light border-0" formControlName="email">
                                        <app-form-error [control]="client.get('email')"></app-form-error>
                                    </div>
                                    <div class="mb-2">
                                        <label for="totalamountInput">Adresse</label>
                                        <textarea class="form-control bg-light border-0" rows="3" formControlName="adresse"></textarea>
                                        <app-form-error [control]="client.get('adresse')"></app-form-error>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    <div class="table-responsive" formArrayName="items">
                        <table class="invoice-table table table-borderless table-nowrap mb-0">
                            <thead class="align-middle">
                                <tr class="table-active">
                                    <th scope="col" style="width: 50px;">#</th>
                                    <th scope="col">Articles</th>
                                    <th scope="col" style="width: 120px;">Quantity</th>
                                    <th scope="col" class="text-end" style="width: 150px;"></th>
                                    <th scope="col" class="text-end" style="width: 105px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="product">
                                    <th scope="row" class="product-id">{{ i + 1 }}</th>
                                    <td class="text-start">
                                        <div class="mb-3">
                                            <select2
                                                [data]="products"
                                                [templates]="template"
                                                displaySearchStatus="always"
                                                (update)="onProductSelected($event)"
                                                class="form-control bg-light"
                                                formControlName="id">
                                                <ng-template #template let-data="data">
                                                    <strong>{{data.designation}}</strong>: <small>{{data.prix | xof}}F</small>
                                                </ng-template>
                                            </select2>
                                            <app-form-error [control]="items.at(i).get('id')"></app-form-error>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-step">
                                            <input type="number" (change)="onQuantityChange(i)" formControlName="quantity" class="product-quantity bg-light border-0">
                                        </div>
                                        <app-form-error [control]="items.at(i).get('quantity')"></app-form-error>
                                    </td>
                                    @if (i > 0) {
                                        <td class="product-removal">
                                            <button (click)="removeItem(i)" type="button" class="btn btn-danger">
                                                <i class="las la-trash"></i>
                                            </button>
                                        </td>
                                    }
                                </tr>
                            </tbody>
                            <tbody>
                                <tr id="newForm" style="display: none;">
                                    <td class="d-none" colspan="5"><p>Add New Form</p></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <button (click)="addItem()" type="button" class="btn btn-soft-secondary fw-medium">
                                            <i class="ri-add-fill me-1 align-bottom"></i>
                                            Ajouter
                                        </button>
                                    </td>
                                </tr>
                                <tr class="border-top border-top-dashed mt-2">
                                    <td colspan="3"></td>
                                    <td colspan="2" class="p-0">
                                        <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Sous Total</th>
                                                    <td style="width:150px;">
                                                        <input type="text" class="form-control bg-light border-0" id="cart-subtotal"
                                                            placeholder="$0.00" readonly value="{{ amountData.montantTotalHT | xof }}" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Taxe <small class="text-muted">(18%)</small></th>
                                                    <td>
                                                        <input type="text" class="form-control bg-light border-0" id="cart-discount"
                                                            placeholder="$0.00" readonly value="{{ amountData.montantTotalTaxe | xof }}" />
                                                    </td>
                                                </tr>
                                                <tr class="border-top border-top-dashed">
                                                    <th scope="row">Grand Total</th>
                                                    <td>
                                                        <input type="text" class="form-control bg-light border-0" id="cart-total"
                                                            placeholder="$0.00" readonly value="{{ amountData.montantTotalTTC | xof }}" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--end table-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                        <app-form-button
                            [loading]="loading"
                            [disabled]="createInvoiceForm.pristine"
                            title="Arrêter la facture"
                        />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>