<div [attr.id]="modalId" class="modal fade {{ center ? 'bs-example-modal-center' : ''}}" tabindex="-1" [attr.aria-labelledby]="modalId" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-md  {{ center ? 'modal-dialog-centered' : ''}}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" [attr.id]="modalId">{{ title }}</h5>
            </div>
            <ng-content></ng-content>
        </div>
    </div>
</div>