<!-- Default Modals -->
<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">{{ isEditMode ? 'Modifier Client' : 'Ajouter Client' }}</h5>
            </div>
            <form [formGroup]="clientForm" (submit)="onSubmit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="last-name" class="col-form-label">Nom:</label>
                            <input type="text" class="form-control" id="last-name" formControlName="last_name">
                            <app-form-error [control]="clientForm.get('last_name')"></app-form-error>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="first-name" class="col-form-label">Prénom:</label>
                            <input type="text" class="form-control" id="first-name" formControlName="first_name">
                            <app-form-error [control]="clientForm.get('first_name')"></app-form-error>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" id="email" formControlName="email">
                            <app-form-error [control]="clientForm.get('email')"></app-form-error>
                        </div>
                        <div class="mb-3 col-12">
                            <label for="adresse" class="col-form-label">Adresse:</label>
                            <input type="text" class="form-control" id="adresse" formControlName="adresse">
                            <app-form-error [control]="clientForm.get('adresse')"></app-form-error>
                        </div>
                    </div>
                    <div *ngIf="error$ | async as error">
                        <div class="alert alert-danger">
                          {{ error }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="dismiss-modal" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                    @if (loading) {
                        <button class="btn btn-primary btn-load disabled">
                            <span class="d-flex align-items-center">
                                <span class="spinner-border flex-shrink-0" role="status">
                                    <span class="visually-hidden">Traitement...</span>
                                </span>
                                <span class="flex-grow-1 ms-2">
                                    Traitement...
                                </span>
                            </span>
                        </button>
                    } @else {
                        <button type="submit" class="btn btn-primary {{ clientForm.pristine ? 'disabled' : ''}}" [disabled]="clientForm.pristine">
                            {{ isEditMode ? 'Enregistrer les modifications' : 'Ajouter' }}
                        </button>
                    }
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
