<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-dark.png" alt="" height="21">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title">
                    <span data-key="t-menu">Main</span>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link menu-link"
                        routerLink="/app"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <i class="las la-house-damage"></i> <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li class="menu-title">
                    <i class="ri-more-fill"></i>
                    <span data-key="t-pages">App</span>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link"
                        href="#sidebarMultilevel"
                        data-bs-toggle="collapse"
                        role="button" aria-expanded="false"
                        aria-controls="sidebarMultilevel">
                        <i class="las la-file-invoice"></i>
                        <span data-key="t-multi-level">Factures</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarMultilevel">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a routerLink="/app/factures"
                                    routerLinkActive="active"
                                    class="nav-link"
                                    data-key="t-level-1.1">
                                    Liste des factures
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#sidebarAccount"
                                    class="nav-link" data-bs-toggle="collapse"
                                    role="button" aria-expanded="false"
                                    aria-controls="sidebarAccount"
                                    data-key="t-level-1.2">
                                    Créer une facture
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarAccount">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a routerLink="/app/factures/creer/produit"
                                                routerLinkActive="active"
                                                class="nav-link" data-key="t-level-2.1">
                                                De produit
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a routerLink="/app/factures/creer/service"
                                                routerLinkActive="active"
                                                class="nav-link" data-key="t-level-2.1">
                                                De service
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link menu-link"
                        routerLink="/app/clients"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <i class="las la-user-friends"></i>
                        <span data-key="t-dashboard">Mes Clients</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link menu-link"
                        routerLink="/app/services"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <i class="las la-folder"></i>
                        <span data-key="t-dashboard">Services</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link menu-link"
                        routerLink="/app/produits"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        <i class="las la-store"></i>
                        <span data-key="t-dashboard">Produits</span>
                    </a>
                </li>
                <div class="help-box text-center">
                    <img src="assets/images/create-invoice.png" class="img-fluid" alt="">
                    <p class="mb-3 mt-2 text-muted">
                        La gestion de vos factures devient plus facile avec Invoicely
                    </p>
                </div>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>