<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-dark.png" alt="" height="21">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Main</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" routerLink="/app" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="las la-house-damage"></i> <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">App</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" routerLink="/app/clients" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <i class="las la-house-damage"></i> <span data-key="t-dashboard">Mes Clients</span>
                    </a>
                </li>
            </ul>
            <!-- <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a class="nav-link menu-link" href="index.html">
                        <i class="las la-house-damage"></i> <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li class="menu-title"><i class="ri-more-fill"></i> <span data-key="t-pages">Pages</span></li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarInvoiceManagement" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarInvoiceManagement">
                        <i class="las la-file-invoice"></i> <span data-key="t-invoices">Invoices Management</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarInvoiceManagement">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a href="invoice.html" class="nav-link" data-key="t-invoice"> Invoice </a>
                            </li>

                            <li class="nav-item">
                                <a href="invoice-add.html" class="nav-link" data-key="t-add-invoice"> Add Invoice </a>
                            </li>


                            <li class="nav-item">
                                <a href="invoice-details.html" class="nav-link" data-key="t-invoice-details"> Invoice Details </a>
                            </li>

                            <li class="nav-item">
                                <a href="payments.html" class="nav-link" data-key="t-payments">Payments</a>
                            </li>

                            <li class="nav-item">
                                <a href="taxes.html" class="nav-link" data-key="t-taxes">Taxes</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#sidebarProducts" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarProducts"
                                   data-key="t-products">Products
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarProducts">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="product-list.html" class="nav-link" data-key="t-product-list"> Product List </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="product-add.html" class="nav-link" data-key="t-add-product"> Add Product </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link menu-link" href="#sidebarReport" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarReport"
                                    data-key="t-report">Report
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarReport">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="payment-summary.html" class="nav-link" data-key="t-payment-summary"> Payment Summary </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="sale-report.html" class="nav-link" data-key="t-sale-report"> Sale Report </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="expenses-report.html" class="nav-link" data-key="t-expenses-report"> Expenses Report </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="user.html" class="nav-link" data-key="t-users">Users</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link menu-link" href="#sidebarTransaction" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarTransaction"
                                    data-key="t-transaction">Transaction
                                </a>
                                <div class="collapse menu-dropdown" id="sidebarTransaction">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a href="transaction-list.html" class="nav-link" data-key="t-transaction-list"> Transaction List </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="transaction-new.html" class="nav-link" data-key="t-new-transaction"> New Transaction </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </li>
            </ul> -->
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>