<div id="confirmModal" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center p-5">
                <div class="mt-4">
                    <h4 class="mb-3">Confirmer la suppression!</h4>
                    <p class="text-muted mb-4">
                        Vous êtes sur le point de supprimer un client, êtes-vous certain de ce choix ?
                    </p>
                    <div class="hstack gap-2 justify-content-center">
                        <button type="button" id="dismiss-confirm-modal" class="btn btn-light" (click)="cancel()" data-bs-dismiss="modal">Non, Annuler</button>
                        <button type="button" class="btn btn-danger" (click)="confirm()">Oui! Supprimer</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->