<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Facture Détails</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Factures</a></li>
                    <li class="breadcrumb-item active">Facture Détails</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row justify-content-center" *ngIf="invoice$ | async as invoice">
    <div class="col-xxl-9">
        <div class="card" id="demo">
            <div class="card-body">
                <table class="w-100 m-4">
                    <tbody>
                        <tr>
                            <th scope="col" style="width: 75%;">
                                <h3 class="fw-bold mb-4">Facture</h3>
                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            <p class="text-muted mb-1 text-uppercase fw-medium fs-14 mb-2">Facture No</p>
                                            <h5 class="fs-16 mb-0">#<span id="invoice-no">{{ invoice?.reference }}</span></h5>
                                        </tr>
                                        <tr>
                                            <th class="pt-4" style="width: 50%;">
                                                <p class="text-muted mb-1 text-uppercase fw-medium fs-14">Date</p>
                                                <h5 class="fs-16 mb-0">
                                                    <span id="invoice-date">{{ invoice.created_at | customDate }}</span>
                                                </h5>
                                            </th>
                                            <th class="pt-4">
                                                <p class="text-muted mb-1 text-uppercase fw-medium fs-14">Statut du paiement</p>
                                                @if (invoice.status) {
                                                    <span class="badge bg-success-subtle text-success fs-11" id="payment-status">Payé</span>
                                                } @else {
                                                    <span class="badge bg-danger-subtle text-danger p-2">Impayé</span>
                                                }
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </th>
                            <th scope="col">
                                <div class="mt-sm-0 mt-3">
                                    <div class="mb-4">
                                        <img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="17">
                                        <img src="assets/images/logo-light.png" class="card-logo card-logo-light" alt="logo light" height="17">
                                    </div>
                                    <h6 class="text-muted text-uppercase fw-semibold">Address</h6>
                                    <p class="text-muted fw-normal mb-1" id="address-details">Cotonou, Bénin</p>
                                    <h6>
                                        <span id="email">{{ 'support@invoicely.com' }}</span>
                                    </h6>
                                    <h6>
                                        <a href="javascript: void(0);" class="link-primary" target="_blank" id="website">
                                            invoicely.com
                                        </a>
                                    </h6>
                                    <h6 class="mb-0">
                                        <span id="contact-no"> +(229) 234 6789 62</span>
                                    </h6>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>

                <table class="m-4 w-100 border-top border-top-dashed">
                    <tr>
                        <th class="pt-4" style="width: 75%;">
                            <div class="row g-3">
                                <div class="col-6">
                                    <h6 class="text-muted text-uppercase fw-semibold mb-3">Client</h6>
                                    <p class="fw-medium mb-2" id="billing-name">{{ invoice.client?.full_name }}</p>
                                    <p class="text-muted mb-1" id="billing-address-line-1">{{ invoice.client?.adresse }}</p>
                                    <p class="text-muted mb-1"><span id="billing-phone-no">{{ invoice.client?.email }}</span></p>
                                </div>
                            </div>
                        </th>
                        <th>
                            <h6 class="text-muted text-uppercase fw-semibold mb-3">Montant Total</h6>
                            <h4 class="fw-bold mb-2">{{ invoice.total_amount_incl | xof }}</h4>
                            <span class="badge bg-success-subtle text-success fs-12">
                                Échéance: {{ invoice.created_at | customDate }}
                            </span>
                        </th>
                    </tr>
                </table>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body p-4">
                            <div class="table-responsive">
                                <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                    <thead>
                                        <tr class="table-active">
                                            <th scope="col" style="width: 50px;">#</th>
                                            <th scope="col">Article</th>
                                            <th scope="col">P.U HT</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col" class="text-end">Somme</th>
                                        </tr>
                                    </thead>
                                    <tbody id="products-list">
                                        <tr *ngFor="let item of invoice.items; let i = index">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td class="text-start">
                                                <span class="fw-medium">{{ item.priceable.designation }}</span>
                                            </td>
                                            <td>{{ item.priceable.unit_price_excl | xof }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td class="text-end">{{ item.total_amount_excl | xof }}</td>
                                        </tr>
                                    </tbody>
                                </table><!--end table-->
                            </div>
                            <div class="border-top border-top-dashed mt-2">
                                <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
                                    <tbody>
                                        <tr>
                                            <td>Sous Total</td>
                                            <td class="text-end">{{ invoice.total_amount_excl | xof }} <sub>XOF</sub></td>
                                        </tr>
                                        <tr>
                                            <td>Tax <small class="text-muted">(18%)</small></td>
                                            <td class="text-end">+ {{ getTaxeAmount(invoice.total_amount_excl ?? 0) | xof }} <sub>XOF</sub></td>
                                        </tr>
                                        <tr class="border-top border-top-dashed fs-15">
                                            <th scope="row">Total Amount</th>
                                            <th class="text-end">{{ invoice.total_amount_incl | xof }} <sub>XOF</sub></th>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div>
                            <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                <a href="javascript:window.print()" class="btn btn-info"><i class="ri-printer-line align-bottom me-1"></i> Imprimer</a>
                            </div>
                        </div>
                        <!--end card-body-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>