<app-modal modalId="myModal" [title]="formTitle">
    <form [formGroup]="productForm" (submit)="onSubmit()" (reset)="reset()">
        <div class="modal-body">
            <div class="row">
                <div class="mb-3 col-12">
                    <label for="designation" class="col-form-label">Designation:</label>
                    <input type="text" class="form-control" id="designation" formControlName="designation">
                    <app-form-error [control]="productForm.get('designation')"/>
                </div>
                <div class="mb-3 col-12">
                    <label for="prix" class="col-form-label">Prix:</label>
                    <input type="text" class="form-control" id="prix" formControlName="prix">
                    <app-form-error [control]="productForm.get('prix')"/>
                </div>
                <div class="mb-3 col-6">
                    <label for="stock-limit" class="col-form-label">Stock limit:</label>
                    <input type="text" class="form-control" id="stock-limit" formControlName="lower_limit">
                    <app-form-error [control]="productForm.get('lower_limit')"/>
                </div>
                <div class="mb-3 col-6">
                    <label for="stock" class="col-form-label">Stock actuel:</label>
                    <input type="text" class="form-control" id="stock" formControlName="stock">
                    <app-form-error [control]="productForm.get('stock')"/>
                </div>
            </div>
            <div *ngIf="error$ | async as error">
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" id="dismiss-modal" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
            <app-form-button
                [loading]="loading"
                [disabled]="productForm.pristine"
                [title]="buttonTitle"
                />
        </div>
    </form>
</app-modal>
